@charset "UTF-8";
@media only screen and (min-width: 0px) {
  @font-face {
    font-display: swap;
    font-family: "Italiana";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/italiana-v21-latin-regular.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sumana-v11-latin-regular.woff2") format("woff2");
  }
}
@media only screen and (min-width: 0px) {
  * {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
  }
  html {
    background-color: #020408;
    height: 100%;
    width: 100%;
  }
  body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  html,
  body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .scroll-wrapper {
    height: 100dvh;
    margin: 0 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 0px) {
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: 20;
  }
  #overlay.active {
    display: block;
  }
}
@media only screen and (min-width: 0px) {
  header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    background-color: #020408;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 5px #B0576E, 0px 0px 25px #B0576E;
  }
  header nav {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav {
    width: 96%;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}
@media only screen and (min-width: 0px) {
  header nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav .logo:hover h1 {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  header nav .logo h1 {
    color: white;
    position: relative;
    font-weight: 100;
    font-size: 22px;
    padding: 25px 0;
    font-weight: lighter;
    z-index: 10;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav .logo h1 {
    padding: 15px 0;
    font-size: 18px;
  }
}
@media only screen and (min-width: 0px) {
  header nav .logo svg {
    padding-right: 10px;
    width: 80px;
    height: 80px;
  }
  header nav .logo img {
    width: 75px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav .logo img {
    width: 65px;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links {
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 65vw;
    width: 275px;
    transition: right 0.4s;
    padding-bottom: 100px;
  }
  header nav .links ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    font-family: "Sumana";
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links ul a {
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
  header nav .links ul a:hover {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  header nav .links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 65vw;
    width: 275px;
    transition: right 0.4s;
    z-index: 25;
    border-left: 2px solid;
    -o-border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
       border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links.active ul {
    display: block;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  header nav .links.active ul li a {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 0px) {
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 9999;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e25a28;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    border-radius: 3px;
    transition: all 0.2s ease;
    transform: translateZ(0);
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  nav .links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    flex-direction: column;
    display: none;
  }
  nav .links ul {
    flex-direction: column;
    gap: 0;
  }
  nav .links ul li a {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav .links.active {
    display: flex;
    flex-direction: column;
  }
  nav .hamburger {
    display: flex;
    margin-right: 15px;
  }
  nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6.75px, 5px);
  }
  nav .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7.25px, -5px);
  }
}
@media only screen and (min-width: 0px) {
  .footer-inner {
    text-align: center;
    padding: 15px 0 15px;
    margin: 0 auto;
    font-size: 13px;
    color: white;
    text-shadow: 0px 0px 3px black;
    line-height: 1.5;
    transition: 0.3s;
  }
  .footer-inner:hover {
    transition: 0.3s;
    color: white;
  }
  .footer-inner:hover a {
    transition: 0.3s;
    color: #FDCD6E;
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  .footer-inner a {
    text-shadow: none;
    transition: 0.3s;
    color: white;
  }
}
@media only screen and (min-width: 0px) {
  body {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  body {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media only screen and (min-width: 0px) {
  .hero {
    display: none;
    height: 20vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .hero {
    display: block;
  }
}
@media only screen and (min-width: 0px) {
  .contact {
    margin-top: 175px;
    margin-bottom: 75px;
    width: 100%;
  }
  .contact .contact-inner {
    margin-top: 100px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 50px clamp(25px, 5vw, 75px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact .contact-inner div {
    width: 45%;
  }
  .contact .contact-inner div div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact .contact-inner h1 {
    width: 100%;
    max-width: 900px;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 25px;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    text-transform: uppercase;
  }
  .contact .contact-inner p {
    width: 100%;
    max-width: 450px;
    font-family: "Sumana";
    line-height: 1.75;
    margin-bottom: 30px;
    font-size: 16px;
    color: #fffcf6;
  }
  .contact .contact-inner p:last-child {
    margin-bottom: 0;
  }
  .contact .contact-inner p a {
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  .contact .contact-inner p a:hover {
    color: #F8AD3E;
    background: linear-gradient(45deg, #f9be46);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  .contact .contact-inner img {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .contact .contact-inner .info {
    max-width: 250px;
    text-align: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 800px) {
  .contact .contact-inner {
    display: flex;
    flex-direction: column;
  }
  .contact .contact-inner div {
    width: 100%;
  }
  .contact .contact-inner p span {
    display: none;
  }
  .contact .contact-inner img,
  .contact .contact-inner .info {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .contact {
    margin: 35px 0;
  }
  .contact .contact-inner {
    padding: 0px 0;
    width: 90%;
  }
  .contact .contact-inner h1 {
    font-size: 30px;
  }
  .contact .contact-inner h1,
  .contact .contact-inner p {
    text-align: left;
  }
}
@media only screen and (min-width: 0px) {
  .form-info label {
    font-family: "Sumana";
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
  }
  .form-info input {
    font-family: "Sumana";
    background: rgba(4, 4, 4, 0.5);
    padding: 10px 10px;
    margin-bottom: 5px;
    line-height: 1.5;
    vertical-align: middle;
  }
  .form-info textarea {
    font-family: "Sumana";
    resize: vertical;
    background: rgba(4, 4, 4, 0.5);
    padding: 7.5px 12.5px;
    margin-bottom: 15px;
  }
  .form-info input[type=text],
  .form-info textarea[type=text] {
    padding: 8px 12px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .form-info input[type=text]:focus,
  .form-info textarea:focus {
    border-color: 1px solid #F8AD3E !important;
  }
  .selection .service-selection fieldset {
    display: flex;
    flex-direction: column;
    border: #707070 1px solid;
    margin-bottom: 25px;
    background: rgba(4, 4, 4, 0.5);
  }
  .selection .service-selection fieldset legend {
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }
  .selection .service-selection fieldset label {
    padding: 5px 15px;
    color: white;
    height: 35px;
    cursor: pointer;
  }
  .selection .service-selection fieldset label:hover {
    color: #FABC40;
  }
  .selection .service-selection fieldset label:last-child {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) {
  .selection .service-selection fieldset label input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    accent-color: #e25a28;
    width: 13px;
    height: 13px;
    cursor: pointer;
    border: 1px solid #707070;
  }
  .selection .service-selection fieldset label input[type=checkbox]:checked {
    border: 1px solid rgb(118, 118, 118);
    background: linear-gradient(45deg, rgba(250, 188, 64, 0.737254902), rgba(226, 90, 40, 0.7137254902));
    border-color: #FABC40;
  }
  .selection .service-selection fieldset label input[type=checkbox]:checked::after {
    content: "✔";
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .selection .service-selection fieldset label input {
    position: relative;
    top: 0;
    margin-right: 3px;
    margin-bottom: 4px;
    vertical-align: middle;
  }
  .selection .service-selection fieldset label label {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
@media only screen and (min-width: 0px) {
  .button-box {
    background-color: rgba(4, 4, 4, 0.5);
    border: 2px solid;
    -o-border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
       border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button {
    font-family: "Sumana";
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 5px 0;
    font-size: 16px;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px black, 1px 1px 10px black;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    background-color: rgba(4, 4, 4, 0.5);
    border: 1px solid;
    -o-border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
       border-image: linear-gradient(45deg, #FABC40, #e25a28) 1;
  }
  .button:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 35px #d36b83;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 0px 1000px black inset;
    background: rgba(4, 4, 4, 0.5);
  }
  input,
  textarea {
    border: 1px solid #707070;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #F8AD3E;
    box-shadow: 0 0 6px rgba(248, 173, 62, 0.7);
  }
}
@media only screen and (min-width: 0px) {
  .buffer {
    display: none;
    height: 10vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .buffer {
    display: block;
  }
}
@media only screen and (min-width: 0px) {
  .buffer2 {
    display: none;
    height: 15vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .buffer2 {
    display: block;
  }
}
@media only screen and (min-width: 0px) {
  .buffer3 {
    display: none;
    height: 3vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .buffer3 {
    display: block;
  }
}/*# sourceMappingURL=contact.css.map */