// ---------------------------
//      Partials Imports
// ---------------------------
@use '../_partials/resets';
@use '../_partials/navigation';
@use '../_partials/footer';

// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;
$gradient: linear-gradient(45deg, #FABC40, #e25a28);


@media only screen and (min-width: 0px) {
    body {
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            background-image: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }
    }

    .hero {
        display: none;
        height: 20vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }
}

// ------------------------
//  Contact Section
// ------------------------
@media only screen and (min-width: 0px) {
    .contact {
        margin-top: 175px;
        margin-bottom: 75px;
        width: 100%;

        .contact-inner {
            margin-top: 100px;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 50px clamp(25px, 5vw, 75px);
            display: flex;
            flex-direction: row;
            justify-content: space-between;



            div {
                width: 45%;

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                }
            }

            h1 {
                width: 100%;
                max-width: 900px;
                font-weight: lighter;
                font-size: 32px;
                margin-bottom: 25px;
                color: #F8AD3E;
                background: linear-gradient(45deg, #FABC40, #e25a28);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                text-transform: uppercase;
            }

            p {
                width: 100%;
                max-width: 450px;
                font-family: "Sumana";
                line-height: 1.75;
                margin-bottom: 30px;
                font-size: 16px;
                color: #fffcf6;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #F8AD3E;
                    background: linear-gradient(45deg, #FABC40, #e25a28);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: 0.3s;

                    &:hover {
                        color: #F8AD3E;
                        background: linear-gradient(45deg, #f9be46);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: 0.3s;
                    }
                }
            }

            img {
                max-width: 250px;
                margin-bottom: 10px;
            }

            .info {
                max-width: 250px;
                text-align: center;
            }

            @media only screen and (min-width: 0px) and (max-width: 800px) {
                display: flex;
                flex-direction: column;

                div {
                    width: 100%;
                }

                p {
                    span {
                        display: none;
                    }
                }

                img,
                .info {
                    display: none;
                }


            }

        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            margin: 35px 0;

            .contact-inner {
                padding: 0px 0;
                width: 90%;

                h1 {
                    font-size: 30px;
                }

                h1,
                p {
                    text-align: left;
                }
            }
        }

    }
}

// ------------------------
//  Form Section
// ------------------------
@media only screen and (min-width: 0px) {
    .form-info {
        label {
            font-family: "Sumana";
            color: #F8AD3E;
            background: linear-gradient(45deg, #FABC40, #e25a28);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: capitalize;
        }

        input {
            font-family: "Sumana";
            background: rgba(4, 4, 4, 0.5);
            padding: 10px 10px;
            margin-bottom: 5px;
            line-height: 1.5;
            vertical-align: middle;
        }

        textarea {
            font-family: "Sumana";
            resize: vertical;
            background: rgba(4, 4, 4, 0.5);
            padding: 7.5px 12.5px;
            margin-bottom: 15px;
        }

        input[type="text"],
        textarea {
            padding: 8px 12px;
            outline: none;
            transition: border-color 0.3s ease;
        }

        input[type="text"]:focus,
        textarea:focus {
            border-color: 1px solid $yellow !important;
        }

    }

    .selection {
        .service-selection {

            fieldset {
                display: flex;
                flex-direction: column;
                border: #707070 1px solid;
                margin-bottom: 25px;
                background: rgba(4, 4, 4, 0.5);

                legend {
                    color: #F8AD3E;
                    background: linear-gradient(45deg, #FABC40, #e25a28);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 5px;
                    text-transform: capitalize;
                    font-size: 16px;
                    padding: 0 10px;
                    text-align: center;
                }

                label {
                    padding: 5px 15px;
                    color: white;
                    height: 35px;
                    cursor: pointer;

                    &:hover {
                        color: #FABC40;
                    }

                    &:last-child {
                        margin-bottom: 10px;
                    }

                    // input
                    @media only screen and (min-width: 0px) {
                        input[type="checkbox"] {
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            accent-color: #e25a28;
                            width: 13px;
                            height: 13px;
                            cursor: pointer;
                            border: 1px solid #707070;
                        }

                        input[type="checkbox"]:checked {
                            border: 1px solid rgb(118, 118, 118);
                            background: linear-gradient(45deg, #fabc40bc, #e25a28b6);
                            border-color: #FABC40;

                        }

                        input[type="checkbox"]:checked::after {
                            content: "✔";
                            color: white;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;

                        }

                        input {
                            position: relative;
                            top: 0;
                            margin-right: 3px;
                            margin-bottom: 4px;
                            vertical-align: middle;
                        }

                        label {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                        }
                    }


                }




            }

        }


    }

    .button-box {
        background-color: rgba(4, 4, 4, 0.5);
        border: 2px solid;
        border-image: $gradient 1;
        width: fit-content;
    }

    .button {
        font-family: "Sumana";
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 5px 0;
        cursor: pointer;

        font-size: 16px;
        text-transform: capitalize;
        text-shadow: 1px 1px 5px black, 1px 1px 10px black;
        display: flex;
        flex-direction: row;
        transition: 0.2s;

        background-color: rgba(4, 4, 4, 0.5);
        border: 1px solid;
        border-image: $gradient 1;

        &:hover {
            transition: 0.2s;
            box-shadow: 0px 0px 35px $pink;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: white !important;
        box-shadow: 0 0 0px 1000px black inset;
        background: rgba(4, 4, 4, 0.5);
    }

    input,
    textarea {
        border: 1px solid #707070;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    input:focus,
    textarea:focus,
    fieldset:focus {
        outline: none;
        border-color: #F8AD3E;
    }

    input,
    textarea,
    select,
    fieldset {
        font-size: 16px;
        border: #707070 1px solid;

        &:hover {
            outline: none;
            border: #F8AD3E 1px solid !important;
        }
    }
}

// ------------------------
//  Buffer Section
// ------------------------
@media only screen and (min-width: 0px) {

    .buffer {
        display: none;
        height: 10vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: bottom;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }

    .buffer2 {
        display: none;
        height: 15vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }

    .buffer3 {
        display: none;
        height: 10vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }
}