// ------------------------
//  Globals
// ------------------------
@media only screen and (min-width: 0px) {

    // ------------------------
    //        FONTS
    // ------------------------
    @media only screen and (min-width: 0px) {
        @font-face {
            font-display: swap;
            font-family: 'Italiana';
            font-style: normal;
            font-weight: 400;
            src: url('./fonts/italiana-v21-latin-regular.woff2') format('woff2');
        }

        @font-face {
            font-display: swap;
            font-family: 'Sumana';
            font-style: normal;
            font-weight: 400;
            src: url('./fonts/sumana-v11-latin-regular.woff2') format('woff2');
        }

    }

    // ------------------------
    //  RESETS + HTML + BODY
    // ------------------------
    @media only screen and (min-width: 0px) {
        * {
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            font-family: 'Quicksand';
            font-family: 'Playfair Display';
            font-family: 'Italiana';
            color: white;
        }

        html {
            background-color: #020408;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
        }

        body {
            width: 100%;
            overflow-x: hidden;
            max-width: 1920px;
            margin: 0 auto;
            background-image: url(../images/heroOriginal.jpg);
            background-size: cover;
            // background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    }

    // ------------------------
    //        VARIABLES
    // ------------------------
    $hover-color: #d36b83;
    $hover-color: #F8AD3E;



}

@mixin clipBG {
    transition: 0.3s;
    $hover-color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #d95423);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

// ------------------------
//  Header
// ------------------------
@media only screen and (min-width: 0px) {
    header {
        background-color: #020408;
        background-color: rgba(0, 0, 0, 0.80);

        nav {
            width: 90%;
            max-width: 1350px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                display: flex;
                flex-direction: row;
                align-items: center;

                &:hover {
                    h1 {
                        @include clipBG;
                    }
                }

                h1 {
                    position: relative;
                    top: -3.5px;
                    font-weight: 100;
                    font-size: 24px;
                    padding: 25px 0;
                }

                svg {
                    padding-right: 10px;
                    width: 80px;
                    height: 80px;
                }

                img {
                    width: 80px;
                    margin-right: 5px;
                }

            }

            .links {
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    gap: 10px;

                    a {
                        padding: 20px;
                        font-size: 15px;
                        font-weight: lighter;
                        letter-spacing: .5px;
                        text-transform: capitalize;

                        &:hover {
                            @include clipBG;
                        }

                    }
                }
            }
        }

    }

}

// ------------------------
//  Hero Section
// ------------------------
@media only screen and (min-width: 0px) {
    #hero {
        height: calc(100vh - 84px);
        max-height: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero-inner {
        text-align: center;


        h1 {
            font-size: 48px;
            text-transform: uppercase;
            text-shadow: 1px 1px 5px black;
            font-weight: lighter;
            letter-spacing: 1px;
            margin-bottom: 80px;
            line-height: 1.25;
        }

        p {
            font-size: 20px;
            letter-spacing: 1.25px;
            text-transform: capitalize;
            text-shadow: 1px 1px 10px black, 1px 1px 5px black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                padding: 0 10px;
                font-size: 24px;
            }
        }

        div {
            padding-top: 125px;

            p {
                font-size: 16px;
            }
        }
    }


}

// ------------------------
//  Main Section
// ------------------------
@media only screen and (min-width: 0px) {
    #main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-inner {
            margin: 0 auto;
            width: 100%;

            .main-text {
                margin: 0 auto;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 125px 0;

                h1 {
                    max-width: 900px;
                    margin: 0 auto;
                    font-weight: lighter;
                    font-size: 32px;
                    margin-bottom: 25px;
                    color: #FDCD6E;
                    text-align: center;
                }

                p {
                    max-width: 875px;
                    font-family: 'Sumana';
                    margin: 0 auto;
                    line-height: 1.75;
                    margin-bottom: 25px;
                    font-size: 16px;
                    text-align: center;
                    color: rgb(249, 247, 244);
                    color: #fffcf6;
                }
            }
        }
    }

}

// ------------------------
//  Contact Section
// ------------------------
@media only screen and (min-width: 0px) {
    #contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-inner {
        position: relative;
        text-align: center;
        margin: 0 auto;
        height: 250px;
        padding: 250px;
        border-radius: 100%;


        background-image: url(../images/symbol.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 32px;
            margin-bottom: 25apx;
            color: white;
            text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black, 0px 0px 6px black;
        }

        p {
            letter-spacing: 0.125px;
            font-weight: lighter;
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 2px;
            text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black, 0px 0px 6px black;
        }
    }
}

// ------------------------
//  Footer Section
// ------------------------
@media only screen and (min-width: 0px) {

    .footer-inner {
        text-align: center;
        padding: 25px 0 15px;
        margin: 0 auto;
        font-size: 13px;
        color: white;
        text-shadow: 0px 0px 3px black;
        line-height: 1.5;
        transition: .3s;

        &:hover {
            transition: .3s;
            color: white;

            a {
                transition: .3s;
                color: #FDCD6E;
            }

        }

        a {
            transition: .3s;
            color: transparent;
            line-height: 1.5;

        }
    }
}