@media only screen and (min-width: 0px) {
  @font-face {
    font-display: swap;
    font-family: "Italiana";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/italiana-v21-latin-regular.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sumana-v11-latin-regular.woff2") format("woff2");
  }
}
@media only screen and (min-width: 0px) {
  * {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
  }
  html {
    background-color: #020408;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 0px) {
  header {
    position: fixed;
    width: 100%;
    background-color: #020408;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 5px #B0576E, 0px 0px 25px #B0576E;
  }
  header nav {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav {
    width: 96%;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}
@media only screen and (min-width: 0px) {
  header nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav .logo:hover h1 {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  header nav .logo h1 {
    color: white;
    position: relative;
    font-weight: 100;
    font-size: 22px;
    padding: 25px 0;
    font-weight: lighter;
    z-index: 10;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav .logo h1 {
    padding: 15px 0;
    font-size: 16px;
  }
}
@media only screen and (min-width: 0px) {
  header nav .logo svg {
    padding-right: 10px;
    width: 80px;
    height: 80px;
  }
  header nav .logo img {
    width: 75px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  header nav .logo img {
    width: 65px;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links {
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 65vw;
    width: 275px;
    transition: right 0.4s;
  }
  header nav .links ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    font-family: "Sumana";
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 0px) {
  header nav .links ul a {
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-transform: lowercase;
  }
  header nav .links ul a:hover {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  header nav .links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 65vw;
    width: 275px;
    transition: right 0.4s;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 768px) {
  header nav .links.active ul {
    display: block;
    display: flex;
    flex-direction: column;
  }
  header nav .links.active ul li a {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 0px) {
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 5;
  }
  .hamburger span {
    display: block;
    height: 3px;
    background-color: #e25a28;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    border-radius: 3px;
    transition: all 0.3s ease;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  nav .links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 200px;
    flex-direction: column;
    display: none;
  }
  nav .links ul {
    flex-direction: column;
    gap: 0;
  }
  nav .links ul li a {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav .links.active {
    display: flex;
    flex-direction: column;
  }
  nav .hamburger {
    display: flex;
    margin-right: 15px;
  }
  nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6.75px, 5px);
  }
  nav .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6.75px, -5px);
  }
}
@media only screen and (min-width: 0px) {
  .footer-inner {
    text-align: center;
    padding: 15px 0 15px;
    margin: 0 auto;
    font-size: 13px;
    color: white;
    text-shadow: 0px 0px 3px black;
    line-height: 1.5;
    transition: 0.3s;
  }
  .footer-inner:hover {
    transition: 0.3s;
    color: white;
  }
  .footer-inner:hover a {
    transition: 0.3s;
    color: #FDCD6E;
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  .footer-inner a {
    text-shadow: none;
    transition: 0.3s;
    color: white;
  }
}
body {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
  body {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 0px) {
  #hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #hero {
    background-image: url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #hero {
    height: 85vh;
    padding-top: 50px;
    padding-top: env(safe-area-inset-top);
    padding-bottom: 50px;
    padding-bottom: env(safe-area-inset-bottom);
  }
}
@media only screen and (min-width: 0px) {
  .hero-inner {
    text-align: center;
  }
  .hero-inner h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .hero-inner h1 {
    padding: 0 25px;
    font-size: 36px;
  }
}
@media only screen and (min-width: 0px) {
  .hero-inner p {
    font-size: 20px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px black, 1px 1px 5px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero-inner p span {
    padding: 0 10px;
    font-size: 24px;
  }
  .hero-inner div {
    padding-top: 125px;
  }
  .hero-inner div p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 0px) {
  #main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .main-inner {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 125px 10px 125px 10px;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #main .main-inner {
    padding: 50px 0;
    background: #040404;
  }
}
@media only screen and (min-width: 0px) {
  #main .main-inner .main-text {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  #main .main-inner .main-text h1 {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
    color: #FDCD6E;
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  #main .main-inner .main-text p {
    width: 100%;
    max-width: 925px;
    font-family: "Sumana";
    margin: 0 auto;
    line-height: 1.75;
    margin-bottom: 35px;
    font-size: 16px;
    text-align: center;
    color: #fffcf6;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #main .main-inner .main-text h1,
  #main .main-inner .main-text p {
    text-align: left;
  }
}
@media only screen and (min-width: 0px) {
  #contact {
    width: 100%;
    height: calc(100dvh - 148px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #contact {
    background-image: url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  #contact {
    height: calc(100dvh - 138px);
  }
}
@media only screen and (min-width: 0px) {
  .contact-inner {
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    padding: 250px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-inner::after {
    content: "";
    background-image: url(../images/symbol.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 160px;
    bottom: 125px;
    width: 500px;
    height: 500px;
    z-index: 0;
    animation: rotateBG 240s forwards infinite;
    filter: drop-shadow(1px 1px 3px rgb(101, 3, 83));
  }
  @keyframes rotateBG {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) and (max-width: 450px) {
  .contact-inner::after {
    width: 450px;
    height: 450px;
    right: 180px;
    bottom: 155px;
    background-image: none;
  }
}
@media only screen and (min-width: 0px) {
  .contact-inner .contact-body {
    position: relative;
    padding: 25px 25px 35px;
    z-index: 1;
    transition: 0.2s;
  }
  .contact-inner .contact-body:hover {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.75);
  }
  .contact-inner .contact-body h1 {
    position: relative;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: lighter;
    line-height: 1.5;
    z-index: 1;
    text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 10px black, 1px 1px 15px black, 1px 1px 25px black;
  }
  .contact-inner .contact-body p {
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 7.5px;
    text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 10px black, 1px 1px 15px black, 1px 1px 25px black;
  }
}/*# sourceMappingURL=index.css.map */