// ---------------------------
//      Partials Imports
// ---------------------------
@use '../_partials/resets';
@use '../_partials/navigation';
@use '../_partials/footer';

// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;

@mixin clipBG {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

body {

    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media only screen and (min-width: 0px) and (max-width: 450px) {
        background-image: url(../images/hero-mobile.webp);
    }
}


// ------------------------
//  Hero Section
// ------------------------
@media only screen and (min-width: 0px) {
    #hero {
        height: 100svh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            height: 90svh;
        }

    }

    .hero-inner {
        text-align: center;


        h1 {
            font-size: 48px;
            text-transform: uppercase;
            text-shadow: 1px 1px 5px black;
            font-weight: lighter;
            letter-spacing: 1px;
            margin-bottom: 80px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1.25px;
            text-transform: capitalize;
            text-shadow: 1px 1px 10px black, 1px 1px 5px black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                padding: 0 10px;
                font-size: 24px;
            }
        }

        div {
            padding-top: 125px;

            p {
                font-size: 16px;
            }
        }
    }

}

// ------------------------
//  Main Section
// ------------------------
@media only screen and (min-width: 0px) {
    #main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-inner {
            margin: 0 auto;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 125px 10px 125px 10px;

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                padding: 50px 0;
            }

            .main-text {
                text-align: center;
                width: 90%;
                margin: 0 auto;

                h1 {
                    width: 100%;
                    max-width: 900px;
                    margin: 0 auto;
                    font-weight: lighter;
                    font-size: 32px;
                    margin-bottom: 25px;
                    text-align: center;
                    color: #FDCD6E;
                    @include clipBG
                }

                p {
                    width: 100%;
                    max-width: 925px;
                    font-family: 'Sumana';
                    margin: 0 auto;
                    line-height: 1.75;
                    margin-bottom: 35px;
                    font-size: 16px;
                    text-align: center;
                    color: #fffcf6;

                }

                @media only screen and (min-width: 0px) and (max-width: 450px) {

                    h1,
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }

}

// ------------------------
//  Contact Section
// ------------------------
@media only screen and (min-width: 0px) {
    #contact {
        width: 100%;
        height: calc(100dvh - 158px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            height: calc(100dvh - 153px);
        }
    }

    .contact-inner {
        position: relative;
        text-align: center;
        margin: 0 auto;
        height: 250px;
        padding: 250px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            background-image: url(../images/symbol.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 160px;
            bottom: 125px;
            width: 500px;
            height: 500px;
            z-index: 0;
            animation: rotateBG 240s forwards infinite;
            filter: drop-shadow(1px 1px 3px rgb(101, 3, 83));

            @keyframes rotateBG {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                width: 450px;
                height: 450px;
                right: 180px;
                bottom: 155px;
            }

        }

        .contact-body {
            position: relative;
            padding: 20px 25px 30px;
            z-index: 1;
            transition: 0.2s;

            &:hover {
                transition: 0.2s;
                background: rgba(0, 0, 0, .75);
            }

            h1 {
                position: relative;
                font-size: 36px;
                text-transform: capitalize;
                font-weight: lighter;
                line-height: 1.5;
                z-index: 1;
                text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 10px black;
            }

            p {
                position: relative;
                font-size: 16px;
                line-height: 1.25;
                text-transform: capitalize;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: 1;
                width: fit-content;
                margin: 0 auto;
                padding: 5px 7.5px;
                text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 7px black, 1px 1px 10px black;
            }
        }



    }
}

// ------------------------
//  Footer Section
// ------------------------
@media only screen and (min-width: 0px) {

    .footer-inner {
        text-align: center;
        padding: 25px 0 15px;
        margin: 0 auto;
        font-size: 13px;
        color: white;
        text-shadow: 0px 0px 3px black;
        line-height: 1.5;
        transition: .3s;

        &:hover {
            transition: .3s;
            color: white;

            a {
                transition: .3s;
                color: #FDCD6E;
            }

        }

        a {
            text-shadow: none;
            transition: .3s;
            color: #646464;

        }
    }
}