@media only screen and (min-width: 0px) and (min-width: 0px) {
  @font-face {
    font-display: swap;
    font-family: "Italiana";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/italiana-v21-latin-regular.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/sumana-v11-latin-regular.woff2") format("woff2");
  }
}
@media only screen and (min-width: 0px) and (min-width: 0px) {
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Quicksand";
    font-family: "Playfair Display";
    font-family: "Italiana";
    color: white;
  }
  html {
    background-color: #020408;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../images/heroOriginal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 0px) {
  header {
    position: fixed;
    width: 100%;
    background-color: #020408;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 30px #B0576E;
  }
  header nav {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav .logo:hover h1 {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #d95423);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  header nav .logo h1 {
    position: relative;
    top: -3.5px;
    font-weight: 100;
    font-size: 24px;
    padding: 25px 0;
  }
  header nav .logo svg {
    padding-right: 10px;
    width: 80px;
    height: 80px;
  }
  header nav .logo img {
    width: 75px;
    margin-right: 5px;
  }
  header nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav .links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
  }
  header nav .links ul a {
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
  header nav .links ul a:hover {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #d95423);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
}
@media only screen and (min-width: 0px) {
  #hero {
    height: calc(100vh - 0px);
    max-height: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-inner {
    text-align: center;
  }
  .hero-inner h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 80px;
    line-height: 1.25;
  }
  .hero-inner p {
    font-size: 20px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px black, 1px 1px 5px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero-inner p span {
    padding: 0 10px;
    font-size: 24px;
  }
  .hero-inner div {
    padding-top: 125px;
  }
  .hero-inner div p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 0px) {
  #main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .main-inner {
    margin: 0 auto;
    width: 100%;
  }
  #main .main-inner .main-text {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 125px 0;
  }
  #main .main-inner .main-text h1 {
    max-width: 900px;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 25px;
    color: #FDCD6E;
    text-align: center;
  }
  #main .main-inner .main-text p {
    max-width: 875px;
    font-family: "Sumana";
    margin: 0 auto;
    line-height: 1.75;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;
    color: rgb(249, 247, 244);
    color: #fffcf6;
  }
}
@media only screen and (min-width: 0px) {
  #contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-inner {
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    padding: 250px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-inner::after {
    content: "";
    background-image: url(../images/symbol.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 150px;
    bottom: 0px;
    width: 500px;
    height: 100%;
    z-index: 0;
    animation: rotateBG 180s forwards infinite;
    filter: drop-shadow(1px 1px 1px #d36b83);
  }
  @keyframes rotateBG {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .contact-inner h1 {
    font-size: 36px;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px black;
    font-weight: lighter;
    line-height: 1.5;
    z-index: 1;
    text-shadow: 1px 1px 1px black, 1px 1px 5px black;
    padding-bottom: 5px;
  }
  .contact-inner p {
    font-size: 16px;
    letter-spacing: 1.125px;
    line-height: 1.25;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  }
  .contact-inner p a {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 0px) {
  .footer-inner {
    text-align: center;
    padding: 25px 0 15px;
    margin: 0 auto;
    font-size: 13px;
    color: white;
    text-shadow: 0px 0px 3px black;
    line-height: 1.5;
    transition: 0.3s;
  }
  .footer-inner:hover {
    transition: 0.3s;
    color: white;
  }
  .footer-inner:hover a {
    transition: 0.3s;
    color: #FDCD6E;
  }
  .footer-inner a {
    transition: 0.3s;
    color: transparent;
    line-height: 1.5;
  }
}/*# sourceMappingURL=index.css.map */