// ---------------------------
//      Partials Imports
// ---------------------------
@use '../_partials/resets';
@use '../_partials/navigation';
@use '../_partials/footer';

// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;

@mixin clipBG {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

body {

    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media only screen and (min-width: 0px) and (max-width: 450px) {
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}


// ------------------------
//  Hero Section
// ------------------------
@media only screen and (min-width: 0px) {
    #hero {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            background-image: url(../images/hero-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            height: 90vh;
            padding-top: 50px;
            padding-top: env(safe-area-inset-top);
            padding-bottom: 50px;
            padding-bottom: env(safe-area-inset-bottom);
        }

    }

    .hero-inner {
        text-align: center;


        h1 {
            font-size: 48px;
            text-transform: uppercase;
            text-shadow: 1px 1px 5px black;
            font-weight: lighter;
            letter-spacing: 1px;
            margin-bottom: 80px;

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                padding: 0 25px;
                font-size: 36px
            }
        }

        p {
            font-size: 20px;
            letter-spacing: 1.25px;
            text-transform: capitalize;
            text-shadow: 1px 1px 10px black, 1px 1px 5px black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                padding: 0 10px;
                font-size: 24px;
            }
        }

        div {
            padding-top: 125px;

            p {
                font-size: 16px;
            }
        }
    }

}

// ------------------------
//  Main Section
// ------------------------
@media only screen and (min-width: 0px) {
    #main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-inner {
            margin: 0 auto;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 125px 10px 125px 10px;

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                padding: 50px 0;
                background: #110a07;
            }

            .main-text {
                text-align: center;
                width: 90%;
                margin: 0 auto;

                h1 {
                    width: 100%;
                    max-width: 900px;
                    margin: 0 auto;
                    font-weight: lighter;
                    font-size: 32px;
                    margin-bottom: 25px;
                    text-align: center;
                    color: #FDCD6E;
                    @include clipBG
                }

                p {
                    width: 100%;
                    max-width: 925px;
                    font-family: 'Sumana';
                    margin: 0 auto;
                    line-height: 1.75;
                    margin-bottom: 35px;
                    font-size: 16px;
                    text-align: center;
                    color: #fffcf6;

                }

                @media only screen and (min-width: 0px) and (max-width: 450px) {

                    h1,
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }

}

// ------------------------
//  Contact Section
// ------------------------
@media only screen and (min-width: 0px) {
    #contact {
        width: 100%;
        height: calc(100dvh - 148px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            background-image: url(../images/hero-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            height: calc(100dvh - 138px);
        }
    }

    .contact-inner {
        position: relative;
        text-align: center;
        margin: 0 auto;
        height: 250px;
        padding: 250px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            background-image: url(../images/symbol.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 160px;
            bottom: 125px;
            width: 500px;
            height: 500px;
            z-index: 0;
            animation: rotateBG 240s forwards infinite;
            filter: drop-shadow(1px 1px 3px rgb(101, 3, 83));

            @keyframes rotateBG {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                width: 450px;
                height: 450px;
                right: 180px;
                bottom: 155px;
            }

        }

        .contact-body {
            position: relative;
            padding: 25px 25px 35px;
            z-index: 1;
            transition: 0.2s;

            &:hover {
                transition: 0.2s;
                background: rgba(0, 0, 0, .75);
            }

            h1 {
                position: relative;
                font-size: 36px;
                text-transform: capitalize;
                font-weight: lighter;
                line-height: 1.5;
                z-index: 1;
                text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 10px black, 1px 1px 15px black, 1px 1px 25px black;
            }

            p {
                position: relative;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: 1;
                width: fit-content;
                margin: 0 auto;
                padding: 5px 7.5px;
                text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 1px 10px black, 1px 1px 15px black, 1px 1px 25px black;
            }
        }

    }
}