// ---------------------------
//      Partials Imports
// ---------------------------
@use '../_partials/resets';
@use '../_partials/navigation';
@use '../_partials/footer';

// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;
$gradient: linear-gradient(45deg, #FABC40, #e25a28);

@media only screen and (min-width: 0px) {

    body {
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            background-image: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }
    }

    .hero {
        display: none;
        height: 20vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }
}

// ------------------------
//  My Practice Section
// ------------------------
@media only screen and (min-width: 0px) {
    .my-practice {
        margin-top: 175px;
        width: 100%;

        .my-practice-inner {
            min-height: 355px;
            width: 90%;
            margin-top: 100px;
            background-color: rgba(0, 0, 0, 0.75);
            max-width: 800px;
            margin: 0 auto;
            padding: 50px clamp(25px, 5vw, 75px) 75px;

            h1 {
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                font-weight: lighter;
                font-size: 32px;
                margin-bottom: 25px;
                text-align: center;
                color: #F8AD3E;
                background: linear-gradient(45deg, #FABC40, #e25a28);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                text-transform: uppercase;
            }

            p {
                width: 100%;
                max-width: 925px;
                font-family: "Sumana";
                margin: 0 auto;
                line-height: 1.75;
                margin-bottom: 35px;
                font-size: 16px;
                text-align: center;
                color: #fffcf6;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 22px;
                    letter-spacing: 1.25px;
                    text-transform: capitalize;
                    text-shadow: 1px 1px 5px black, 1px 1px 10px black;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 25px;
                    transition: 0.2s;

                    background-color: rgba(4, 4, 4, 0.5);
                    border: 2px solid;
                    border-image: $gradient 1;

                    &:hover {
                        transition: 0.2s;
                        background-color: rgba(4, 4, 4, 0.7);
                        box-shadow: 0px 0px 35px $pink;
                    }
                }
            }
        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            margin: 35px 0;

            .my-practice-inner {
                padding: 0px 0;

                h1,
                p {
                    text-align: left;
                }
            }
        }



    }

}

// ------------------------
//  Buffer Section
// ------------------------
@media only screen and (min-width: 0px) {

    .buffer {
        display: none;
        height: 10vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }

    .buffer2 {
        display: none;
        height: 15vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: bottom;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }

    .buffer3 {
        display: none;
        height: 5vh;
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            display: block;
        }
    }
}

// ------------------------
//  Services Section
// ------------------------
@media only screen and (min-width: 0px) {
    .services {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 50px;

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            margin-top: 0;
        }

        .item {
            padding: 25px 35px 35px;
            background-color: rgba(0, 0, 0, 0.75);
            width: 33%;

            h1 {
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                font-weight: lighter;
                font-size: 32px;
                margin-bottom: 25px;
                color: #F8AD3E;
                background: linear-gradient(45deg, #FABC40, #e25a28);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                text-transform: uppercase;
            }

            p {
                width: 100%;
                max-width: 925px;
                max-width: 650px;
                font-family: "Sumana";
                line-height: 1.75;
                margin-bottom: 35px;
                font-size: 16px;
                color: #fffcf6;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            div {
                margin-bottom: 35px;

                p {
                    margin-bottom: 0;
                }

            }

            .button {
                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    margin-bottom: 0;
                    padding-bottom: 35px;
                }
            }

        }

        @media only screen and (min-width: 0px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;

            .item {
                max-width: 800px;
                width: 90%;
                margin: 0 auto;
                padding: 50px clamp(25px, 5vw, 75px) 75px;

                @media only screen and (min-width: 0px) and (max-width: 450px) {
                    padding-bottom: 40px;
                }
            }
        }

        .button {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 25px;

            a {
                font-size: 22px;
                letter-spacing: 1.25px;
                text-transform: capitalize;
                text-shadow: 1px 1px 5px black, 1px 1px 10px black;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 20px 25px;
                transition: 0.2s;

                background-color: rgba(4, 4, 4, 0.5);
                border: 2px solid;
                border-image: $gradient 1;

                &:hover {
                    transition: 0.2s;
                    background-color: rgba(4, 4, 4, 0.7);
                    box-shadow: 0px 0px 35px $pink;
                }
            }

            @media only screen and (min-width: 0px) and (max-width: 450px) {
                justify-content: flex-start;
                padding-bottom: 50px;

            }
        }

    }
}

@media only screen and (min-width: 0px) {

    .tutoring {
        margin-top: 100px;
        width: 100%;

        .tutoring-inner {
            min-height: 355px;
            width: 90%;
            margin-top: 100px;
            background-color: rgba(0, 0, 0, 0.75);
            max-width: 800px;
            margin: 0 auto;
            padding: 50px clamp(25px, 5vw, 75px) 75px;

            h1 {
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                font-weight: lighter;
                font-size: 32px;
                margin-bottom: 25px;
                text-align: center;
                color: #F8AD3E;
                background: linear-gradient(45deg, #FABC40, #e25a28);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                text-transform: uppercase;
            }

            p {
                width: 100%;
                max-width: 925px;
                font-family: "Sumana";
                margin: 0 auto;
                line-height: 1.75;
                margin-bottom: 35px;
                font-size: 16px;
                text-align: center;
                color: #fffcf6;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 22px;
                    letter-spacing: 1.25px;
                    text-transform: capitalize;
                    text-shadow: 1px 1px 5px black, 1px 1px 10px black;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 25px;
                    transition: 0.2s;

                    background-color: rgba(4, 4, 4, 0.5);
                    border: 2px solid;
                    border-image: $gradient 1;

                    &:hover {
                        transition: 0.2s;
                        background-color: rgba(4, 4, 4, 0.7);
                        box-shadow: 0px 0px 35px $pink;
                    }
                }
            }
        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            margin: 35px 0;

            .tutoring-inner {
                padding: 0px 0;

                h1,
                p {
                    text-align: left;
                }
            }
        }



    }



}