// ---------------------------
//      Partials Imports
// ---------------------------
@use '../_partials/resets';
@use '../_partials/navigation';
@use '../_partials/footer';

// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;
$gradient: linear-gradient(45deg, #FABC40, #e25a28);

@mixin clipBG {
    transition: 0.3s;
    color: #F8AD3E;
    background: linear-gradient(45deg, #FABC40, #e25a28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

body {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media only screen and (min-width: 0px) and (max-width: 450px) {
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

.hero {
    display: none;
    height: 20vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;

    @media only screen and (min-width: 0px) and (max-width: 450px) {
        display: block;
    }
}


// ------------------------
//  My Practice Section
// ------------------------
@media only screen and (min-width: 0px) {
    .my-practice {
        margin-top: 175px;
        width: 100%;

        .my-practice-inner {
            margin-top: 100px;
            background-color: rgba(0, 0, 0, 0.75);
            max-width: 800px;
            margin: 0 auto;
            padding: 50px 75px;
            width: 90%;

            h1 {
                width: 100%;
                max-width: 900px;
                margin: 0 auto;
                font-weight: lighter;
                font-size: 32px;
                margin-bottom: 25px;
                text-align: center;
                color: #FDCD6E;
                transition: 0.3s;
                color: #F8AD3E;
                background: linear-gradient(45deg, #FABC40, #e25a28);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.3s;
                text-transform: uppercase;
            }

            p {
                width: 100%;
                max-width: 925px;
                font-family: "Sumana";
                margin: 0 auto;
                line-height: 1.75;
                margin-bottom: 35px;
                font-size: 16px;
                text-align: center;
                color: #fffcf6;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 22px;
                    letter-spacing: 1.25px;
                    text-transform: capitalize;
                    text-shadow: 1px 1px 5px black, 1px 1px 10px black;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 25px;
                    transition: 0.3s;

                    background-color: rgba(4, 4, 4, 0.5);
                    border: 2px solid;
                    border-image: $gradient 1;


                    &:hover {
                        transition: 0.3s;
                        background-color: rgba(4, 4, 4, 0.7);
                    }
                }
            }
        }

        @media only screen and (min-width: 0px) and (max-width: 450px) {
            margin: 35px 0;

            .my-practice-inner {
                padding: 0px 0;

                h1,
                p {
                    text-align: left;
                }
            }
        }



    }

}