// ------------------------
//        VARIABLES
// ------------------------
$pink: #d36b83;
$yellow: #F8AD3E;

// ------------------------
//        FONTS
// ------------------------
@media only screen and (min-width: 0px) {
    @font-face {
        font-display: swap;
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/italiana-v21-latin-regular.woff2') format('woff2');
    }

    @font-face {
        font-display: swap;
        font-family: 'Sumana';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/sumana-v11-latin-regular.woff2') format('woff2');
    }
}

// ------------------------
//  RESETS + HTML + BODY
// ------------------------
@media only screen and (min-width: 0px) {
    * {
        list-style: none;
        text-decoration: none;
        color: white;
        padding: 0;
        margin: 0;
    }

    html {
        background-color: #020408;
        height: 100%;
        width: 100%;
    }

    body {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    html,
    body {
        height: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .scroll-wrapper {
        height: 100dvh;
        margin: 0 auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
        overflow-x: hidden;
    }


}